[Unit]
Description=vs-code
After=nginx.service

[Service]
ExecStart=/usr/bin/code-server --host 0.0.0.0 --bind-addr localhost:591 --auth none
Restart=always

[Install]
WantedBy=multi-user.target
