p, h1, h2, h3, a, div {
font-family: 'Source Sans Pro', sans-serif;
}

a : hover{
cursor: pointer;
}


.popup {
  z-index: 9;
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
  min-height: 200px;
  min-width: 300px;
  max-height: 1080px;
  max-width: 1920px;
}

iframe {
    width: 100%;
    height: calc(100% - 45px);
    border-left: 1px solid #68686B;
    border-right: 1px solid #68686B;
    border-bottom: 1px solid #68686B;
    border-radius: 0px 0px 10px 10px;
}

.popup {
  position: absolute;
  overflow: hidden;
}

.popup-header {
    height: 20px;
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2D2D2D;
    color: #fff;
    border-left: 1px solid #68686B;
    border-right: 1px solid #68686B;
    border-top: 1px solid #68686B;
    border-radius: 10px 10px 0px 0px;
}

/*Resizeable*/

.popup .resizer-right {
  width: 10px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

.popup .resizer-bottom {
  width: 100%;
  height: 10px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

.popup .resizer-both {
  width: 20px;
  height: 10px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}


.popup * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
